<div class="inputs">
  <div class="main__container">
    <label class="main__label">{{ step.question }}</label>
    <input
      #inputField
      class="input__main"
      type="number"
      name=""
      id=""
      min="0"
      max="5000"
      autofocus
      [placeholder]="step.placeholder"
      [value]="value || ''"
      (keyup)="onChange(step.key, $event.srcElement.value)"
    />
  </div>
  <div *ngIf="!!step?.helper.question" class="helper__container">
    <label class="helper__label">{{ step.helper.question }}</label>
    <input
      #additionalInputField
      class="input__helper"
      type="number"
      name=""
      id=""
      min="0"
      max="5000"
      [placeholder]="step.helper.placeholder"
      [value]="helperValue || ''"
      (keyup)="onChange(step.helper.key, $event.srcElement.value)"
    />
  </div>
</div>
