.inputs {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
}

.main__container {
  position: relative;
  width: 100%;
  // max-width: 360px;
}

.helper__container {
  position: relative;
  width: 160px;
  display: flex;
}

.main__label {
  position: absolute;
  display: block;
  font-size: 16px;
  top: 4px;
  left: 16px;
  color: #34495e;
}

.helper__label {
  position: absolute;
  display: block;
  font-size: 16px;
  width: 100%;
  top: 4px;
  text-align: center;
  color: #34495e;
}

.input__main,
.input__helper,
.dropdown__helper {
  font-family: Arial, Helvetica, sans-serif;

  border: none;
  background-color: #eff2f6;
  height: 128px;
  line-height: 128px;

  color: #2c3e50;

  width: 100%;

  outline: none;

  font-size: 64px;

  box-sizing: border-box;

  -moz-appearance: textfield;

  border-radius: 4px;
}

.input__helper,
.dropdown__helper {
  text-align: center;
}

.input__main::-webkit-inner-spin-button,
.input__helper::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input__main,
.input__helper,
[contenteditable] {
  caret-color: #2980b9;
}

.input__main[type="number"] {
  padding-top: 32px;
  padding-left: 16px;
}

.input__helper[type="number"] {
  padding-top: 32px;
}

.dropdown__helper {
  cursor: pointer;

  .input__helper {
    cursor: pointer;
    padding-top: 32px;
  }
}

.dropdown {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  line-height: 1.5;
  top: calc(100% + 16px);
  width: inherit;
  text-align: center;
  z-index: 100;
  padding: 8px 0;
  border-radius: 4px;
  font-size: 18px;
  -webkit-box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.67);
  box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.67);

  .option {
    cursor: pointer;
    &:hover {
      background-color: #2980b9;
      color: #eff2f6;
    }
  }

  &__value {
    padding-top: 16px;

    &--default {
      color: #7f8c8d;
    }

    &--selected {
      color: #2c3e50;
    }
  }
}

.dropdown:before {
  // layout
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: 99%;
  left: 0.5em; // offset should move with padding of parent
  border: 0.75rem solid transparent;
  border-top: none;

  // looks
  border-bottom-color: #fff;
}

::-webkit-input-placeholder {
  /* Edge */
  color: #7f8c8d;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #7f8c8d;
}

::placeholder {
  color: #7f8c8d;
}
