:host {
  height: 100%;

  display: grid;
  grid-template-rows: 4px 1fr 8fr 1fr;

  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
}

.home {
  grid-column-start: 1;
  grid-column-end: 2;

  align-self: center;
  justify-self: center;

  background-color: #2980b9;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  box-shadow: 0px -4px 0px 0px #2980b9;
}

.go-back {
  grid-column-start: 1;
  grid-column-end: 1;

  display: flex;
  justify-content: center;
}

.step1 {
  grid-column-start: 2;
  grid-column-end: 4;
}

.step2 {
  grid-column-start: 4;
  grid-column-end: 6;
}

.step3 {
  grid-column-start: 6;
  grid-column-end: 8;
}

.step4 {
  grid-column-start: 8;
  grid-column-end: 10;
}

.step-placeholder {
  grid-column-start: 10;
  grid-column-end: end;

  height: 100%;
  width: 100%;
  background-color: #3498db10;
  box-shadow: 0px -4px 0px 0px #3498db10;

  display: flex;
  justify-content: center;
  align-items: center;
}

rating-step {
  cursor: pointer;
}

.step__result {
  grid-row-start: 3;
  grid-row-end: 3;

  grid-column-start: 2;
  grid-column-end: 12;

  color: #ecf0f1;
  font-size: 128px;
  text-align: center;
}
