:host {
  height: 100%;
  min-width: 320px;

  display: grid;
  grid-template-rows: 4px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 256px 1fr 1fr 1fr;

  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;

  @media (max-width: 840px), (max-height: 700px) {
    grid-template-rows: 4px 48px 1fr 1fr 1fr;
  }
}

.go-back {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 5;

  display: flex;
  justify-content: center;
}

.step__result {
  grid-row-start: 7;
  grid-row-end: 7;

  grid-column-start: 4;
  grid-column-end: 10;

  color: #ecf0f1;
  font-size: 154px;
  text-align: center;
}

.title {
  grid-row-start: 5;
  grid-row-end: 5;

  grid-column-start: 2;
  grid-column-end: 12;

  font-size: 64px;
  text-align: center;
  color: #ecf0f1;
  margin: 0;
}

rating-input {
  grid-row-start: 7;
  grid-row-end: 7;

  grid-column-start: 4;
  grid-column-end: 10;
}

rating-button {
  grid-row-start: 8;
  grid-row-end: 8;

  grid-column-start: 4;
  grid-column-end: 10;
}

.explanation {
  grid-row-start: 9;
  grid-row-end: 10;

  grid-column-start: 4;
  grid-column-end: 10;

  height: 100%;
  width: 100%;

  border-radius: 4px;
  padding: 32px 0px;
  box-sizing: border-box;
  // background-color: #3498db10;
  color: #ecf0f1;
  line-height: 1.5;

  h4 {
    margin: 0 0 32px 0;
  }

  .hotkeys {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;

    .hotkey__container {
      display: flex;
      flex-direction: row;
      gap: 16px;
      width: calc(50% - 16px);
      align-items: center;
    }

    .hotkey {
      width: 64px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      border: 3px solid #2980b9;
      border-radius: 4px;
      color: #2980b9;
    }
  }
}

@media (max-width: 840px)  {
  .title {
    grid-row-start: 3;
    grid-row-end: 3;

    grid-column-start: 1;
    grid-column-end: 13;

    text-align: center;
    color: #ced9e4;
    margin: 0;
  }

  .go-back {
    grid-row-start: 3;
    grid-row-end: 3;
  }

  rating-input {
    grid-row-start: 4;
    grid-row-end: 4;

    grid-column-start: 2;
    grid-column-end: 12;
  }

  rating-button {
    grid-row-start: 5;
    grid-row-end: 5;

    grid-column-start: 2;
    grid-column-end: 12;
  }

  .step__result {
    grid-row-start: 4;
    grid-row-end: 4;
  
    grid-column-start: 2;
    grid-column-end: 12;
  
    color: #ecf0f1;
    font-size: 64px;
    text-align: center;
  }

  .explanation {
    display: none;
    height: 0;
    grid-column-start: 2;
    grid-column-end: 12;
  }
}

@media (orientation: landscape) and (max-width: 700px), (max-height: 650px) {

  .title {
    grid-row-start: 3;
    grid-row-end: 3;
  }

  .go-back {
    grid-row-start: 3;
    grid-row-end: 3;
  }

  rating-input {
    grid-row-start: 4;
    grid-row-end: 4;
  }

  rating-button {
    grid-row-start: 5;
    grid-row-end: 5;
  }

  .step__result {
    grid-row-start: 4;
    grid-row-end: 4;
  
  }

  .explanation {
    display: none;
  }
}

@media (max-width: 640px) {
  .title {
    font-size: 32px;
  }
}
