<rating-menu
  [steps]="stepService.steps"
  [currentStep]="stepService.currentStep"
  [averageDwz]="dwzService.averageDwz"
></rating-menu>

<div *ngIf="stepService.currentStep.id > 0" class="go-back">
  <svg
    (click)="goToPreviousStep()"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    version="1.1"
    width="64"
    height="64"
    viewBox="0 0 24 24"
  >
    <path
      fill="#34495e"
      d="M2,12A10,10 0 0,1 12,2A10,10 0 0,1 22,12A10,10 0 0,1 12,22A10,10 0 0,1 2,12M18,11H10L13.5,7.5L12.08,6.08L6.16,12L12.08,17.92L13.5,16.5L10,13H18V11Z"
    />
  </svg>
</div>

<h1 class="title">
  {{
    stepService.currentStep.id === 0
      ? "Berechne deine DWZ"
      : stepService.currentStep.title
  }}
</h1>

<rating-input
  *ngIf="stepService.currentStep.id < 3"
  [step]="stepService.currentStep"
  [result]="stepService.currentStep.result"
  [helperResult]="stepService.currentStep.helper.result"
  (valueChanged)="onInputChange($event)"
></rating-input>
<rating-button
  *ngIf="!!stepService.currentStep && stepService.currentStep.id < 3"
  [numberOfOpponents]="dwzService.opponents.length"
  [size]="'big'"
  [showHint]="showErrorHint"
  [stepId]="stepService.currentStep.id"
  [step]="stepService.currentStep"
  (continue)="goToNextStep()"
  (action)="onAction()"
></rating-button>

<div *ngIf="stepService.currentStep.id === 3" class="step__result">
  {{ stepService.steps.newDwz.result }}
</div>

<rating-table></rating-table>
<div *ngIf="dwzService.opponents.length === 0" class="explanation">
  <h4>Hotkeys</h4>
  <div class="hotkeys">
    <div class="hotkey__container">
      <div class="hotkey">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          version="1.1"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            fill="#2980b9"
            d="M19,7V11H5.83L9.41,7.41L8,6L2,12L8,18L9.41,16.58L5.83,13H21V7H19Z"
          />
        </svg>
      </div>
      <p>Weiter zum nächsten Schritt</p>
    </div>
    <div class="hotkey__container">
      <div class="hotkey">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          version="1.1"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            fill="#2980b9"
            d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"
          />
        </svg>
      </div>
      <p>Weiter zum nächsten Schritt</p>
    </div>
    <div class="hotkey__container">
      <div class="hotkey">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          version="1.1"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            fill="#2980b9"
            d="M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z"
          />
        </svg>
      </div>
      <p>Zurück zum vorherigen Schritt</p>
    </div>
    <div class="hotkey__container">
      <div class="hotkey">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          version="1.1"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            fill="#2980b9"
            d="M3 15H5V19H19V15H21V19C21 20.1 20.1 21 19 21H5C3.9 21 3 20.1 3 19V15Z"
          />
        </svg>
      </div>
      <p>Weiteren Gegner hinzufügen</p>
    </div>
  </div>
</div>
