:host {
  grid-row-start: 3;
  grid-row-end: 3;

  grid-column-start: 2;
  grid-column-end: 8;
}

.inputs {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.main__container {
  position: relative;
  width: 100%;
}

.helper__container {
  position: relative;
  width: 160px;
  display: flex;
}

.main__label {
  position: absolute;
  display: block;
  font-size: 16px;
  top: 4px;
  left: 16px;
  color: #34495e;
}

.helper__label {
  position: absolute;
  display: block;
  font-size: 16px;
  width: 100%;
  top: 4px;
  text-align: center;
  color: #34495e;
}

.input__main,
.input__helper {
  border: none;
  background-color: #ecf0f1;
  height: 128px;
  line-height: 128px;

  color: #2c3e50;

  width: 100%;

  outline: none;

  font-size: 64px;

  box-sizing: border-box;

  -moz-appearance: textfield;

  border-radius: 4px;
}

.input__helper {
  text-align: center;
}

.input__main::-webkit-inner-spin-button,
.input__helper::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input__main,
.input__helper,
[contenteditable] {
  caret-color: #2980b9;
}

.input__main[type="number"] {
  padding-top: 32px;
  padding-left: 16px;
}

.input__helper[type="number"] {
  padding-top: 32px;
}

::-webkit-input-placeholder {
  /* Edge */
  color: #7f8c8d;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #7f8c8d;
}

::placeholder {
  color: #7f8c8d;
}
