@font-face {
  font-family: IBMPlexSans;
  src: url(assets/IBMPlexSans-Medium.ttf) format("truetype");
}

@font-face {
    font-family: IBMPlexSansLight;
    src: url(assets/IBMPlexSans-Light.ttf) format("truetype");
  }

/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: IBMPlexSans, Arial, Helvetica, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  text-rendering: optimizelegibility !important;
  letter-spacing: .03em;

  background-color: #2c3e50;
}
